---
permalink: /
layout: wide
title: Small Business
---

{% include home/hero.html %}

<section class="usa-section grid-container-desktop-lg margin-top-2">
  {% include home/overview.html %}
</section>

<section class="usa-section" id="wtw-intro">
  {% include home/wtw-intro.html %}
</section>

<section class="usa-section grid-container-desktop-lg" id="wtw">
  {% include home/wtw-nav.html %}
</section>

<section class="usa-section section-bg-gray" id="explore-contracts">
  {% include home/explore.html %}
</section>

<section class="usa-section">
  {% include home/resources.html %}
</section>

<section class="usa-section">
  {% include home/contact.html %}
</section>

{% asset home.js %}
