<div class="grid-row grid-gap">
  <div class="grid-col-7">
    <p>The Office of Small and Disadvantaged Business Utilization (OSDBU) supports small and disadvantaged businesses interested in the federal marketplace.</p>

    <h3>Find your GSA small business contact</h3>

    <p>This group provides access to GSA's nationwide procurement opportunities through outreach, training, and counseling</p>

    <a href="javascript:void(0)" class="usa-link">See GSA small business contacts ></a>

    <h3>Attend an OSDBU event</h3>

    <p>OSDBU provides training and information sessions for small businesses to learn more about federal opportunities and how to market their business</p>

    <a href="javascript:void(0)" class="usa-link">See upcoming events ></a>
  </div>

  <div class="grid-col-5">
    <h3>How GSA supports small businesses</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dhwAgQqZigs" title="YouTube video player: Doing Business with GSA - Introduction to GSA" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
