<div class="usa-navbar">
  <div class="usa-logo" id="extended-mega-logo">
    <a title="GSA Home" class="navbar-brand" href="/" id="anch_1">
        {% asset gsa-nav-logo.png class="not-responsive float-left logo" alt="GSA Logo" width="56" %}
        <!-- TODO width: 56 -->
        <em class="usa-logo__text text-base-darkest">{{site.title}}</em>
    </a>
  </div>
  <button class="usa-menu-btn">Menu</button>
</div>

{% comment %} TODO come back to do mobile {% endcomment %}
<!-- <nav role="navigation" class="usa-nav site-nav sidenav-mobile" aria-labelledby="mobile-side-navigation"> -->
    <!-- Close Button -->
    <!-- <button class="gsa-nav__close" id="mobile-side-navigation">
        <div class="sr-only">close menu</div>
    </button>
    <div class="usa-nav__secondary">
        <div class="usa-nav__secondary-links">
            <a href="/travel-resources#perdiem-swiper" id="perdiem-button">
                <span>Per Diem Lookup</span>
            </a>

        </div> -->
        <!-- Mobile Search -->
<!--         <div id="mobile-search"></div>
    </div> -->

{% comment %} TODO figure out how to include these icons from USWDS {% endcomment %}
<nav id="menu-navigation" aria-label="Menu navigation" role="navigation" class="usa-nav gsa-nav width-full">
  <div class="usa-nav__inner">
    {% include menu.html %}
  </div>

  <div class="usa-nav__secondary visible-lg">
    <div class="usa-nav__secondary-links">
      <!-- NOTE this does not include behavior in the original website -->
      <a title="Perdiem Lookup" id="perdiem-button" href="/">
        <span>Per Diem Lookup</span>
      </a>
    </div>
    {% include searchgov/form.html searchgov=site.searchgov %}
  </div>
</nav>
