<section class="usa-hero text-black">
  <div class="usa-hero__callout padding-0 margin-2">
    <p class="usa-hero__heading">GSA has awarded <span class="text-underline">$XX billion dollars</span> to small businesses this year.</p>
    <p>See if there are opportunities for your small business</p>
    <a class="usa-button usa-button--accent-cool float-right" href="javascript:void(0)">Opportunity Explorer</a>
  </div>
  <div class="image-placeholder">
    {% asset img/material-icons/image.svg alt="image placeholder icon" %}
  </div>
</section>
