@use "uswds-theme-color.scss";

// ALL PAGES

body {
  @include u-line-height("body", 5);
}

h2 {
  @include u-font("sans", "xl");
}

h3 {
  @include u-font("sans", "lg");
}

.question-circle {
  background: #DCDEE0;
  border-radius: 50%;
  height: 45px;
  padding-left: 0;
  // TODO come back to this
  padding: 11px !important;
  text-align: center;
  width: 45px;
}

.usa-button--base {
  // overridding for WCAG AAA
  background-color: color($theme-color-primary-dark);
}

.usa-section {
  @include u-padding-bottom(2);
  @include u-padding-left(3);
  @include u-padding-right(3);
  @include u-padding-top(2);
}

// HOME PAGE

#explore-contracts {
  // Note: cannot use HTML class for padding because it's
  // overridden by section styling
  @include u-padding-bottom(3);

  .explore-logo {
    max-width: 80%;
  }
  .link-icon {
    max-height: 16px;
    vertical-align: middle;
  }
}

iframe {
  // calculated as ratio of 560x315 at different screen sizes
  width: 100%;
  height: 245px;

  @media screen and (max-width: 740px) {
    height: 200px;
  }

  @media screen and (max-width: 640px) {
    height: 287px;
  }
}

.image-placeholder {
  background-color: #F9F9F9;
  height: 200px;
  text-align: center;
  width: 100%;

  img {
    position: relative;
    top: 40%;
  }
}

.section-arrow-down {
  width: 100px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 40px solid #DCDEE0;
}

.section-bg-gray {
  background-color: #F9F9F9;
}

#upcoming-events {
  .grid-row {
    margin-bottom: 1.5em;
    margin-left: 1em;
  }
  .event-date {
    border-right: solid 2px #DCDEE0;
  }

}

.usa-hero {
  background-color: color($theme-color-base-lightest);
  display: flex;
  padding: 0 0 0 1em;

  .image-placeholder {
    height: unset;
    // TODO what do we want to do for a small screen?
    max-width: 37%;

    @media screen and (max-width: 800px) {
      width: 0;
    }
  }

  .usa-hero__callout {
    background-color: inherit;
    flex-grow: 1.5;
    max-width: none;
  }

  .usa-hero__heading {
    color: inherit;
  }
}

#wtw {
  h4 {
    @include u-font('heading', 'lg');
  }

  h5 {
    @include u-font('heading', 'md');
  }
}

#wtw-intro {
  background-color: #DCDEE0;

  // TODO make this look nicer on mobile
  .btn-centered {
    position: absolute;
    top: 40%;
    width: 80%;
  }
}

#wtw-nav {
  $btn-tab-active-color: #1A4480;
  $btn-tab-base-color: #F0F0F0;

  border-bottom: solid 9px $btn-tab-active-color;

  .active, .active:hover, .active:focus {
    background-color: $btn-tab-active-color;
    color: $btn-tab-base-color;
  }

  button {
    // override default button styles
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;

    background-color: $btn-tab-base-color;
    color: $btn-tab-active-color;

    @media screen and (min-width: 640px) {
      // when side by side, borders should be between buttons,
      // not on the outside edges
      &:not(:first-child) {
        border-left: solid #FFF 4px;
      }
      &:not(:last-child) {
        border-right: solid #FFF 4px;
      }
    }

    &:hover, &:focus {
      background-color: #73b3e7;
      color: #000;
      cursor: pointer;
    }

    h3 {
      @include u-margin-bottom(2);
      @include u-text('normal');
    }
  }
}

#wtw-schedule-tab .question-circle {
  margin-left: auto;
  margin-right: auto;
}

.vendor-spotlight {
  background-color: #F9F9F9;
  height: 8em;
  @include u-padding-left(2);

  img {
    width: 30px;
  }
}

.usa-button--base {
  // overridding for WCAG AAA
  background-color: color($theme-color-primary-dark);
}

// OPPORTUNITY EXPLORER

.usa-form--large, .usa-label, .usa-legend {
  max-width: 100%;
}

#opportunity-explorer {
  input {
    margin-left: auto;
    margin-right: auto;
  }

  .usa-select {
    max-width: 75%;
  }
}

// OPPORTUNITY EXPLORER RESULTS

h2.opp-exp-results {
  border-bottom: 1px solid black;
  padding-bottom: 1em;
}

.text-placeholder {
  background-color: #C4C4C4;
  height: 37px;
  margin-bottom: 7px;
  width: 100%;
}
