.navbar-divider {
  height: 35px;
  background-color: #C4C4C4;
}

.usa-banner__button-text {
  // changes for WCAG AAA
  color: #00538e;
}

.usa-header+.usa-section, .usa-header+main {
    border-top: none;
}

.usa-header--extended .usa-navbar {
  max-width: 100%;
}

.usa-logo {
  img {
    @media screen and (max-width: 1024px) {
      max-width: 40px;
    }
  }

  a {
    color: #1b1b1b;
    font-size: 23px;

    .usa-logo__text {
      font-weight: 500;
      padding-left: 77px;
      padding-top: 20px;
    }
  }
}
