.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.usa-banner__button-text {
  // changes for WCAG AAA
  color: #00538e;
}

/*
////////////////////////
HEADING & PRIMARY NAVBAR
////////////////////////
*/

.gsa-nav {
  background-color: rgb(224, 230, 235);
  line-height: .9;
}

.navbar-brand {
  float: none;
  display: block;

  .logo {
    float: left;
    width: 3.5rem;
  }
}

.usa-header--extended {
  .usa-navbar {
    margin-left: 0;
  }
  .usa-nav__inner {
    max-width: 100%;
  }
}

.usa-logo a {
  color: #1b1b1b;
  font-size: 23px;

  .usa-logo__text {
    font-weight: 500;
    padding-left: 77px;
    padding-top: 20px;
  }
}

.usa-nav__primary button span {
  font-family: Public Sans,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 15px;
  padding-right: 15px;
}

.usa-nav__primary-item .usa-nav__link {
  font-weight: 400;
}

// PER DIEM AND SEARCH

#perdiem-button {
  background: linear-gradient(transparent,transparent),13px 9px/44% no-repeat asset-url("icon-perdiem.svg");
  color: #71767a;
  float: right;
  line-height: 43px;
  padding-left: 46px;
  padding-bottom: 1px;
}

#search_form {
  border-color: #dfe1e2;
  border-left-width: 1px;
  border-left-style: solid;
  margin-left: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;

  button.usa-button {
    // the USWDS "search.svg" icon is similar but not quite the same
    background-image: asset-url("search--white.svg"),linear-gradient(transparent,transparent);
    background-repeat: no-repeat;
    background-position: center;
  }
}

// SECONDARY / TERTIARY NAV ITEMS

.submenu_link_list {
  padding-inline-start: 0px;
}

.usa-nav__primary-item, ul .usa-nav__submenu-item {
  list-style-type: none;
}

.usa-nav__submenu {
  width: 100%;
  &[hidden] {
    display: none;
  }

  a {
    text-decoration: none;
  }
}

// put after hidden or it will be overridden
.submenu-container {
  display: flex;
  left: 16px;
  flex-direction: row;
  margin-top: .25em;
  width: 98%;
}

.submenu-component {
  flex-basis: 33%;
  flex-grow: 1;

  &:not(:last-child) {
    border-right: white 1px solid;
  }
}

.usa-nav__submenu-item:hover {
  background-color: #007aff;
}

// TODO figure out why important needed
.submenu-item-link {
  padding: 0 1rem!important;
}

.usa-nav__secondary {
  align-items: center;
  flex-direction: inherit;
  position: absolute;
  width: 40%;

  .usa-nav__secondary-links {
    width: 100%;
  }
}

// FEATURED TOPICS

.featured-navigation-content {
  color: #fff;

  a {
    font-size: 1.1em;
    font-weight: bold;
  }

  p {
    font-size: 0.9em;
    padding-left: 1rem;
  }

  .featured-label {
    top: 0;
    left: 0;
    padding: 0 10px;
    font-size: 12px;
    background: #af3639;
    text-transform: uppercase;
  }
}

/*
//////////////////////
MOBILE / SMALL SCREENS
//////////////////////
*/

@media only screen and (max-width: 1023px) {
  #menu-navigation {
    background-color: white;
    flex-direction: column;
    width: 60%;
  }

  #perdiem-button {
    float: left;
  }

  .submenu-component {
    line-height: 1.5em;
    padding-left: 1em;
  }

  .submenu-tertiary, .featured-navigation-content {
    display: none;
  }

  // on smaller screens, display the search, per diem,
  // and menu close in the same flex container
  .usa-nav__secondary {
    align-items: end;
    display: flex;
    flex-direction: row;
    position: static;
    width: 100%;
  }

  .usa-nav__close {
    margin: 0 0 0 1em;
  }
}

@media only screen and (max-width: 740px) {
  #perdiem-button {
    float: right;
  }

  .usa-nav__secondary {
    flex-direction: column-reverse;
  }

  .usa-nav__secondary-links {
    margin-top: 0;
  }
}
