<div class="grid-container-desktop-lg margin-bottom-9">
  <h2>Contact</h2>

  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-7">
      {% include home/find-local-contact.html %}
    </div>
    <div class="tablet:grid-col-5">
      <h3>Follow OSDBU</h3>
      <ul class="usa-list">
        <li><a href="javascript:void(0)" class="usa-link">On Twitter</a></li>
        <li><a href="javascript:void(0)" class="usa-link">On our blog on GSA Interact</a></li>
      </ul>
    </div>
  </div>
</div>
