<div class="grid-container-widescreen">
  <h2 class="margin-top-0">Explore contracts and opportunities</h2>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-4">
      {% asset samgov-logo.png alt="sam.gov logo" aria-hidden="true" class="explore-logo" %}
      <h3 class="font-heading-sm">Find contracts and awards</h3>

      <p>SAM.gov provides a comprehensive database of all major government solicitations, contract awards, and subcontracting opportunities.</p>
      <a class="usa-link" href="javascript:void(0)">Contracts & awards at SAM.gov</a>
      {% asset img/material-icons/launch.svg alt="external link" class="link-icon" %}
    </div>
    <div class="tablet:grid-col-4">
      {% asset forecast-opps-logo.png alt="forecast of contracting opportunities logo" aria-hidden="true" class="explore-logo" %}
      <h3 class="font-heading-sm">Explore upcoming contracts</h3>

      <p>The Forecast of Contracting Opportunities Tool provides information on expected federal contracting opportunities.</p>
      <a class="usa-link" href="javascript:void(0)">Contract Opportunities Forecasting tool</a>
      {% asset img/material-icons/launch.svg alt="external link" class="link-icon" %}
    </div>
    <div class="tablet:grid-col-4">
      {% asset market-research-logo.png alt="market research logo" aria-hidden="true" class="explore-logo" %}
      <h3 class="font-heading-sm">Conduct market research & find leads</h3>

      <p>Use this guide to identify your competitive edge in the federal market and measure opportunities for business expansion.</p>
      {% asset img/material-icons/file_download.svg alt="file download" class="link-icon" %}
      <a class="usa-link" href="https://github.com/18F/gsa-small-business-experience/raw/main/_assets/market_research_checklist.pdf" target="_blank" rel="noreferrer noopener">Download Market Research Guide (pdf)</a>
    </div>
  </div>
</div>
