<section class="usa-hero text-primary-darker">
  <div class="usa-hero__callout padding-0 margin-4">
    <h1 class="font-sans-14 line-height-sans-5 padding-right-3 margin-top-0">GSA awarded $24 billion dollars to small businesses this year.</h1>
    <p class="padding-right-9">Sell directly to U.S. Federal government, one of the largest buyers of services and goods in the world via long-term multiple award contracts, open market opportunities, subcontracting, and partnerships.</p>
  </div>
  <div class="image-placeholder">
    {% asset img/material-icons/image.svg alt="image placeholder icon" %}
  </div>
</section>
