<h2 class="tablet:margin-top-0 tablet:margin-bottom-0">We connect small businesses to federal buyers</h2>
<div class="grid-row grid-gap">
  <div class="tablet:grid-col-7">
    <p>GSA manages contracts and programs that let small businesses sell products and services to federal agencies.</p>

    <h3>Benefits of working with us</h3>

    <ul class="usa-list">
      <li>Can sell to all federal agencies and some state and local</li>
      <li>Shorter, simplified process to sell directly to goverment agencies</li>
      <li>Competitive advantage in the federal market</li>
      <li>Contracts set aside for certain business categories like:</li>
        <ul>
          <li>Small businesses</li>
          <li>Woman-owned businesses</li>
          <li>Service-disabled veteran-owned businesses</li>
          <li>Small disadvantaged businesses 8(a)</li>
          <li>HUBZone businesses</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="tablet:grid-col-5">
    <h3>Explore GSA selling opportunities</h3>

    <p>Tell us about your business, and we'll locate programs and opportunities for you to investigate.</p>

    <a class="usa-button usa-button--base" href="{% link _pages/opportunity-explorer.html %}">Take the opportunity quiz</a>

    {% include home/find-local-contact.html %}
  </div>
</div>
