<div class="grid-container-desktop-lg">
  <h2 class="margin-top-0">Training & Resources</h2>
  <div class="grid-row grid-gap">
    <div class="tablet:grid-col-6">
      <p>Office of Small & Disadvanced Business Utilization (OSDBU) connects small businesses with people who can help them, and programs that can grow their skills.</p>
      <ul class="usa-list">
        <li>Procurement networking sessions</li>
        <li>Marketing strategies and techniques workshops</li>
        <li>Electronic commerce/electronic data interchange training sessions</li>
        <li>Interagency networking breakfasts</li>
        <li>Trade missions, roundtables, and procurement conferences</li>
        <li>Social media tools such as Twitter, Facebook, and our Small Business First community on GSA Interact</li>
      </ul>
      <ul class="usa-list usa-list--unstyled">
        <li><a href="javascript:void(0)" class="usa-link">View online training</a></li>
        <li><a href="javascript:void(0)" class="usa-link">Find your local small business advocate</a></li>
      </ul>
    </div>

    <div class="tablet:grid-col-6" id="upcoming-events">
      <h3 class="margin-top-0">Upcoming events</h3>
      <div class="grid-row grid-gap">
        <div class="grid-col-2 event-date">
          Apr 7
        </div>
        <div class="grid-col-10">
          11:00 AM ET<br/>
          <a href="javascript:void(0)" class="usa-link">Doing Business with GSA: Accessing Procurement Opportunities - The Tools Available for You!</a>
        </div>
      </div>
      <div class="grid-row grid-gap">
        <div class="grid-col-2 event-date">
          Apr 14
        </div>
        <div class="grid-col-10">
          1:00 PM ET<br/>
          <a href="javascript:void(0)" class="usa-link">RFP, RFI, and RFQ: What are the Differences?</a>
        </div>
      </div>
      <div class="grid-row grid-gap">
        <div class="grid-col-2 event-date">
          Apr 30
        </div>
        <div class="grid-col-10">
          1:00 PM ET<br/>
          <a href="javascript:void(0)" class="usa-link">GSA & SBA Money Smart Series > Module #1: Business Model Canvas</a>
        </div>
      </div>
    </div>
  </div>
</div>
