<div class="grid-row grid-gap">
  <div class="tablet:grid-col-6">
    <iframe src="https://www.youtube-nocookie.com/embed/LQpWUCw99bE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>

      <h4>Joint Venture</h4>
      <p>A joint venture is formed for the sole purpose of pooling resources of separate business to support the mission of a government agency successfully and cost-effectively. It is considered a new legal entity that requires approval by the Small Business Administration (SBA), a separate federal identification number, and a new SAM user account. OSDBU oes not oversee any part of the joint venture process. For further details on joint ventures, refer to the <a href="javascript:void(0)" class="usa-link">SBA website</a>.</p>
  </div>

  <div class="tablet:grid-col-6">
    <h4>Subcontracting</h4>

    <p>Subcontracting allows small businesses to sell to the government by partnering with a large business prime contractor. Use GSA's Subcontracting Directory and the GSA eLibrary to find potential large business prime contractors. Small businesses must contact prime contractors directly.</p>

    <a href="javascript:void(0)" class="usa-link">Subcontracting Directory</a>

    <h4>Contractor Team Arrangements</h4>

    <p>Under a CTA, two or more GSA Schedule contractors work together to meet the needs of an ordering activity (e.g., those agencies and organizations that can order from GSA Schedules). A CTA is an arrangement between the two companies, not the formation of a new company. For further details on CTAs, refer to the CTA page.</p>
  </div>
</div>
