<p>Sell directly to one of the largest buyers of services and goods in the world, the U.S. Federal government. GSA schedules are long-term contracts that allow federal agencies to buy products and services directly from businesses. Schedule purchases amount to approximately $36 Billion per year.</p>

<h4>Getting on a GSA schedule</h4>
<p>Hold a Schedule contract can open doors for your business, but requires time and resources to be succesful. It can take 6-12 months from the time you submit your offer.</p>

<div class="grid-row grid-gap">
  <div class="tablet:grid-col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lOX2ejIHYtQ" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="tablet:grid-col-6">
    <h5>Before submitting an offer you'll need to:</h5>
    <ul class="usa-list">
      <li>Register with SAM.gov</li>
      <li>Certify with Small Business Administration (SBA) for any set-asides</li>
      <li>Understand the soliciation</li>
      <li>Complete self-led PDF trainings: Pathways to success and Readiness Assessment</li>
    </ul>
    <p><a href="javascript:void(0)" class="usa-link">Learn more about Getting on Schedule</a></p>
  </div>
</div>

<div class="grid-row grid-gap margin-top-6">
  <div class="tablet:grid-col-4">
    <div class="question-circle grid-col-1">1</div>
    <h5 class="font-heading-md">Assemble & submit offer</h5>
    <p>Once you're ready, you will assemble all required documents and submit your business proposal to get on GSA's schedule.</p>
  </div>
  <div class="tablet:grid-col-4">
    <div class="question-circle grid-col-1">2</div>
    <h5 class="font-heading-md">Review & negotiate</h5>
    <p>Your offer will be reviewed and you will be able to review and negotiate changes to the contract schedule.</p>
  </div>
  <div class="tablet:grid-col-4">
    <div class="question-circle grid-col-1">3</div>
    <h5 class="font-heading-md">Sell & maintain</h5>
    <p>Once you have been approved and are on the GSA schedule you will be able to begin marketing and selling directly to federal agencies.</p>
  </div>
</div>
