<div class="grid-container-widescreen">
  <div class="grid-row grid-gap padding-top-4 padding-bottom-4">
    <div class="tablet:grid-col-12">
      <h2 class="margin-top-0 margin-bottom-0">Different ways to work with GSA</h2>
      <p class="margin-top-0 margin-bottom-0">Small businesses have many ways to sell their products and services to the government.  Find potential opportunities for you with this quiz or browse contracts and awards at <a href="sam.gov">SAM.gov</a></p>
    </div>
  </div>
</div>
