<div class="grid-container-widescreen">
  <div class="grid-row grid-gap padding-left-5 padding-bottom-4">
    <div class="tablet:grid-col-8">
      <h2 class="margin-top-0 margin-bottom-0">Different ways to work with GSA</h2>
      <p class="margin-top-0 margin-bottom-0">Small businesses have many ways to sell their products and services to the government. See what options are a fit for your business.</p>
    </div>
    <div class="tablet:grid-col-4">
      <a class="usa-button usa-button--base btn-centered" href="{% link _pages/opportunity-explorer.html %}">Explore opportunities</a>
    </div>
  </div>
</div>
