<h4>Sell directly with Contract Schedules</h4>
<p>SSell directly to one of the largets buyers of services and goods in the world, the U.S. Federal government.  GSA schedules are long-term contracts that allow federal agencies to buy products and services directly from businesses. Schedule purchases amount to approximately $36 Billion per year.</p>

<div class="grid-row grid-gap">
  <div class="tablet:grid-col-6">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/lOX2ejIHYtQ" title="YouTube video player: Doing Business with GSA - Roadmap Getting on Contract" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="tablet:grid-col-6">
    <h5 class="margin-top-0">Before submitting an offer you'll need to:</h5>
    <ul class="usa-list">
      <li>Register with SAM.gov</li>
      <li>Certify with Small Business Administration (SBA) for any set-asides</li>
      <li>Review and understand the contract schedule soliciation</li>
      <li>Complete self-led PDF trainings: Pathways to success and Readiness Assessment</li>
    </ul>
    <p><a href="javascript:void(0)" class="usa-link">Learn more about Getting on Schedule</a></p>
  </div>
</div>

<h4>Sell directly with Contract Schedules</h4>
<div class="grid-row grid-gap">
  <div class="tablet:grid-col-4">
    <h5 class="font-heading-md">1. Assemble & submit offer</h5>
    <p>
      <ul class="usa-list">
        <li>Find the right schedule opportunities for your business.</li>
        <li>Identify and meet requirements</li>
        <li> Gather and submit required documents</li>
        <li>Develop and submit business plan and submit and offer</li>
      </ul>
    </p>
  </div>
  <div class="tablet:grid-col-4">
    <h5 class="font-heading-md">2. Review & negotiate</h5>
    <p>
      <ul class="usa-list">
        <li>Your offer will be reviewed and required documents will be reviewed.</li>
        <li>Once accepted you’ll be able to review the terms and negotiate things like price and services.</li>
      </ul>
    </p>
  </div>
  <div class="tablet:grid-col-4">
    <h5 class="font-heading-md">3. Sell & maintain</h5>
    <p>
      <ul class="usa-list">
        <li>On schedule:You will be able to begin marketing and selling directly to federal.</li>
        <li>You will be pre-vetted and process to sell to Federal agency will be streamlined.</li>
      </ul>
    </p>
  </div>
</div>
