<h4>Open Market Opportunities</h4>

<p>These contracts are often for <strong>building design and construction, architecture and engineering acquisitions, and some professional service engagements.</strong> These procurements require a response to the RFP or RFQ; be sure to include Form 1442 with your submission.</p>

<ul class="usa-list usa-list--unstyled">
  <li>
    <a href="javascript:void(0)" class="usa-link">Bidding on federal construction projects</a>
  </li>
  <li>
    <a href="javascript:void(0)" class="usa-link">Search RFPs and RFQs</a>
  </li>
  <li>
    <a href="javascript:void(0)" class="usa-link">Preparing for an RFP and RFQ</a>
  </li>
</ul>
