<div class="grid-container-desktop-lg">
  <div class="grid-row grid-gap padding-top-4 padding-bottom-4">
    <div class="tablet:grid-col-7">
      <h2 class="margin-top-0 margin-bottom-0">Ways to sell to government agencies</h2>
      <p class="margin-top-0 margin-bottom-0">Small businesses have many ways to sell their products and services to the government. Find potential opportunities for you with <a class="usa-link" href="{% link _pages/opportunity-explorer.html %}">this quiz</a> or browse contracts and awards at <a href="https://sam.gov" target="_blank" rel="noopener noreferrer" class="usa-link">SAM.gov</a></p>
    </div>
  </div>
</div>
